@theme {
  --color-primary: #7b5455;
  --color-onPrimary: #ffffff;
  --color-primaryContainer: #f4c2c2;
  --color-onPrimaryContainer: #734e4e;
  --color-secondary: #6d5a59;
  --color-onSecondary: #ffffff;
  --color-secondaryContainer: #f7dcdc;
  --color-onSecondaryContainer: #74605f;
  --color-tertiary: #486456;
  --color-onTertiary: #ffffff;
  --color-tertiaryContainer: #b6d5c3;
  --color-onTertiaryContainer: #415d4f;
  --color-error: #ba1a1a;
  --color-onError: #ffffff;
  --color-errorContainer: #ffdad6;
  --color-onErrorContainer: #93000a;
  --color-background: #fff8f7;
  --color-onBackground: #1f1b1b;
  --color-surface: #fff8f7;
  --color-surfaceDim: #e1d8d7;
  --color-surfaceBright: #fff8f7;
  --color-surfaceContainerLowest: #ffffff;
  --color-surfaceContainerLow: #fbf1f1;
  --color-surfaceContainer: #f5eceb;
  --color-surfaceContainerHigh: #efe6e5;
  --color-surfaceContainerHighest: #e9e0e0;
  --color-onSurface: #1f1b1b;
  --color-surfaceVariant: #f1dede;
  --color-onSurfaceVariant: #504444;
  --color-outline: #827473;
  --color-outlineVariant: #d4c2c2;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverseSurface: #342f2f;
  --color-inverseOnSurface: #f8efee;
  --color-inversePrimary: #ecbaba;
}

[data-theme="dark"] {
  --color-primary: #ffe4e4;
  --color-onPrimary: #472828;
  --color-primaryContainer: #f4c2c2;
  --color-onPrimaryContainer: #734e4e;
  --color-secondary: #dac1c0;
  --color-onSecondary: #3d2c2c;
  --color-secondaryContainer: #574545;
  --color-onSecondaryContainer: #ccb3b2;
  --color-tertiary: #d2f1df;
  --color-onTertiary: #1a3629;
  --color-tertiaryContainer: #b6d5c3;
  --color-onTertiaryContainer: #415d4f;
  --color-error: #ffb4ab;
  --color-onError: #690005;
  --color-errorContainer: #93000a;
  --color-onErrorContainer: #ffdad6;
  --color-background: #161212;
  --color-onBackground: #e9e0e0;
  --color-surface: #161212;
  --color-surfaceDim: #161212;
  --color-surfaceBright: #3d3838;
  --color-surfaceContainerLowest: #110d0d;
  --color-surfaceContainerLow: #1f1b1b;
  --color-surfaceContainer: #231f1f;
  --color-surfaceContainerHigh: #2d2929;
  --color-surfaceContainerHighest: #383433;
  --color-onSurface: #e9e0e0;
  --color-surfaceVariant: #504444;
  --color-onSurfaceVariant: #d4c2c2;
  --color-outline: #9d8d8d;
  --color-outlineVariant: #504444;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverseSurface: #e9e0e0;
  --color-inverseOnSurface: #342f2f;
  --color-inversePrimary: #7b5455;
}
