@theme {
  --color-primary: #006c52;
  --color-onPrimary: #ffffff;
  --color-primaryContainer: #2dffc9;
  --color-onPrimaryContainer: #00513d;
  --color-secondary: #396660;
  --color-onSecondary: #ffffff;
  --color-secondaryContainer: #bcece4;
  --color-onSecondaryContainer: #204e48;
  --color-tertiary: #19686c;
  --color-onTertiary: #ffffff;
  --color-tertiaryContainer: #a8eff3;
  --color-onTertiaryContainer: #004f53;
  --color-error: #ba1a1a;
  --color-onError: #ffffff;
  --color-errorContainer: #ffdad6;
  --color-onErrorContainer: #93000a;
  --color-background: #effdf4;
  --color-onBackground: #121e19;
  --color-surface: #effdf4;
  --color-surfaceDim: #cfddd5;
  --color-surfaceBright: #effdf4;
  --color-surfaceContainerLowest: #ffffff;
  --color-surfaceContainerLow: #e9f7ef;
  --color-surfaceContainer: #e3f1e9;
  --color-surfaceContainerHigh: #deebe3;
  --color-surfaceContainerHighest: #d8e6de;
  --color-onSurface: #121e19;
  --color-surfaceVariant: #d5e7dd;
  --color-onSurfaceVariant: #3a4a43;
  --color-outline: #6a7b73;
  --color-outlineVariant: #b9cbc1;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverseSurface: #27332e;
  --color-inverseOnSurface: #e6f4ec;
  --color-inversePrimary: #00e1af;
}

[data-theme="dark"] {
  --color-primary: #00e1af;
  --color-onPrimary: #003829;
  --color-primaryContainer: #00513d;
  --color-onPrimaryContainer: #2dffc9;
  --color-secondary: #a0d0c8;
  --color-onSecondary: #013732;
  --color-secondaryContainer: #204e48;
  --color-onSecondaryContainer: #bcece4;
  --color-tertiary: #8cd2d7;
  --color-onTertiary: #003739;
  --color-tertiaryContainer: #004f53;
  --color-onTertiaryContainer: #a8eff3;
  --color-error: #ffb4ab;
  --color-onError: #690005;
  --color-errorContainer: #93000a;
  --color-onErrorContainer: #ffdad6;
  --color-background: #0a1611;
  --color-onBackground: #d8e6de;
  --color-surface: #0a1611;
  --color-surfaceDim: #0a1611;
  --color-surfaceBright: #303c36;
  --color-surfaceContainerLowest: #05100c;
  --color-surfaceContainerLow: #121e19;
  --color-surfaceContainer: #16221d;
  --color-surfaceContainerHigh: #212c27;
  --color-surfaceContainerHighest: #2b3732;
  --color-onSurface: #d8e6de;
  --color-surfaceVariant: #3a4a43;
  --color-onSurfaceVariant: #b9cbc1;
  --color-outline: #84958c;
  --color-outlineVariant: #3a4a43;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverseSurface: #d8e6de;
  --color-inverseOnSurface: #27332e;
  --color-inversePrimary: #006c52;
}