@theme {
  --color-red: #de3054;
  --color-redContainer: #f77483;
  --color-onRedContainer: #5d3f41;
  --color-green: #5e8129;
  --color-greenContainer: #8da667;
  --color-onGreenContainer: #44483b;
  --color-yellow: #c3830d;
  --color-yellowContainer: #e3af65;
  --color-onYellowContainer: #695c4b;
  --color-blue: #3d79c4;
  --color-blueContainer: #80a0d2;
  --color-onBlueContainer: #434851;
  --color-magenta: #c2469d;
  --color-magentaContainer: #da80b8;
  --color-onMagentaContainer: #55414c;
  --color-cyan: #0f8296;
  --color-cyanContainer: #71a5b3;
  --color-onCyanContainer: #3f484b;
  --color-inverseRed: #ffb2b7;
  --color-inverseRedContainer: #a63647;
  --color-inverseOnRedContainer: #ffeced;
  --color-inverseGreen: #abd370;
  --color-inverseGreenContainer: #4f652e;
  --color-inverseOnGreenContainer: #eff3e0;
  --color-inverseYellow: #ffb950;
  --color-inverseYellowContainer: #9a6e2b;
  --color-inverseOnYellowContainer: #ffeedc;
  --color-inverseBlue: #a6c8ff;
  --color-inverseBlueContainer: #40608e;
  --color-inverseOnBlueContainer: #ecf1fd;
  --color-inverseMagenta: #ffadde;
  --color-inverseMagentaContainer: #904276;
  --color-inverseOnMagentaContainer: #ffecf4;
  --color-inverseCyan: #78d3e9;
  --color-inverseCyanContainer: #2f6571;
  --color-inverseOnCyanContainer: #e9f2f5;
}

[data-theme="dark"] {
  --color-red: #ffb2b7;
  --color-redContainer: #a63647;
  --color-onRedContainer: #ffeced;
  --color-green: #abd370;
  --color-greenContainer: #4f652e;
  --color-onGreenContainer: #eff3e0;
  --color-yellow: #ffb950;
  --color-yellowContainer: #9a6e2b;
  --color-onYellowContainer: #ffeedc;
  --color-blue: #a6c8ff;
  --color-blueContainer: #40608e;
  --color-onBlueContainer: #ecf1fd;
  --color-magenta: #ffadde;
  --color-magentaContainer: #904276;
  --color-onMagentaContainer: #ffecf4;
  --color-cyan: #78d3e9;
  --color-cyanContainer: #2f6571;
  --color-onCyanContainer: #e9f2f5;
  --color-Red: #ffb2b7;
  --color-RedContainer: #a63647;
  --color-OnRedContainer: #ffeced;
  --color-Green: #abd370;
  --color-GreenContainer: #4f652e;
  --color-OnGreenContainer: #eff3e0;
  --color-Yellow: #ffb950;
  --color-YellowContainer: #9a6e2b;
  --color-OnYellowContainer: #ffeedc;
  --color-Blue: #a6c8ff;
  --color-BlueContainer: #40608e;
  --color-OnBlueContainer: #ecf1fd;
  --color-Magenta: #ffadde;
  --color-MagentaContainer: #904276;
  --color-OnMagentaContainer: #ffecf4;
  --color-Cyan: #78d3e9;
  --color-CyanContainer: #2f6571;
  --color-OnCyanContainer: #e9f2f5;
}
