<span class="absolute z-1 py-2 px-3 left-2/4 bottom-full -translate-y-3 -translate-x-2/4
        whitespace-nowrap bg-neutral-800 text-white rounded opacity-0 group-hover:opacity-100
        pointer-events-none transition-opacity duration-.2s text-2xs font-sans
        after:content-[''] after:absolute after:translate-y-1/2 after:left-1/2 after:-translate-x-2/4
        after:w-4 after:h-4 after:bg-neutral-800 after:bottom-0 after:left-0 after:transform after:rotate-45">
    {{message}}
</span>